body{

margin:0;

background:#020202;

font-family:Poppins;

background-image:url("../img/fondo.jpg");

background-size:cover;

color:white;

}

.container{

width:900px;

margin:auto;

padding:40px;

} 
.logo{

width:250px;

display:block;

margin:auto;

filter:

drop-shadow(0 0 15px #ff00ff)

drop-shadow(0 0 30px #ff00ff);

} 
h1{

text-align:center;

font-size:55px;

font-weight:800;

}

h1 span{

display:block;

font-size:70px;

background:linear-gradient(90deg,#ff00aa,#6f7cff);

background-clip:text;

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

} .card{

display:flex;

margin-top:40px;

padding:30px;

border-radius:35px;

background:#090909;

box-shadow:

0 0 15px #ff00cc;

border:2px solid #ff00aa;

}  .bankLogo{

width:170px;

height:170px;

border-radius:20px;

background:black;

display:flex;

justify-content:center;

align-items:center;

}  .info{

flex:1;

margin-left:30px;

}

.bank{

font-size:45px;

font-weight:700;

}

.alias{

margin-top:18px;

font-size:24px;

} .copy{

width:55px;

height:55px;

border-radius:12px;

border:none;

background:#b000ff;

color:white;

cursor:pointer;

}  .transfer{

width:100%;

margin-top:25px;

height:70px;

border:none;

font-size:30px;

border-radius:20px;

background:linear-gradient(90deg,#ff007a,#8226ff);

color:white;

cursor:pointer;

box-shadow:0 0 20px #ff00ff;

}  #whatsapp{

width:100%;

height:95px;

background:#0bbd0b;

font-size:34px;

font-weight:bold;

border:none;

border-radius:20px;

color:white;

margin-top:45px;

cursor:pointer;

box-shadow:0 0 30px #00ff00;

}